/*
This will help you to create spacing classes for margin and padding.

Eg: mt-0 , pl-5
  
The first letter represents the spacing type ( Margin/Padding ).
m:  margin 
p:  padding 

The second letter represents the direction.
l: left
r: right
t: top
b: bottom
v: vertical (top and bottom)
h: horizontal (left and right)
a: all

The third represents the spacing value (which you can give your own)

For eg: 'mb-0' means margin-bottom: 0;
*/

$spacing: 0, 5, 10, 15, 20; // Modify this to generate your spacing classes
$unit: px; // Modify this to specify your unit eg: em, pt, %.

$directions:(
  l: left,
  t: top,
  r: right,
  b: bottom,
  v: top,
  h: left
);
@mixin generateSpacing($prop, $short  ) {
   @each $space in $spacing{
    .#{$short}a-#{$space} { #{$prop}: $space + $unit}
    @each $key,$val in $directions{
      .#{$short}#{$key}-#{$space} {
        #{$prop}-#{$val}: $space + $unit;
        @if $key == v {
          #{$prop}-bottom: $space + $unit;
        }
        @if $key == h {
          #{$prop}-right: $space + $unit;
        }
      }
    }
  }
}
@include generateSpacing(padding , p);
@include generateSpacing(margin , m);
